.best_products {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
}
.best_products__left {
  position: relative;
  display: flex;
}
.best_products__left_dell {
  position: absolute;
  top: 97.4px;
  left: 260px;
}
.best_products__left_notebook {
  position: relative;
  margin-top: 74px;
  padding-right: 60px;
  z-index: 1;
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
}
.dot svg {
  width: 5px;
  height: 5px;
}
.dot.active svg {
  width: 9px;
  height: 9px;
}
.dot.active svg circle {
  fill: #292d32;
}
.best_products__left_text {
  display: flex;
  flex-direction: column;
  padding-top: 253px;
  padding-bottom: 158px;
  padding-left: 390px;
  z-index: 1;
}
.new_collection {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 15px;
}
.title {
  width: 404px;
  font-size: 50px;
  line-height: 59px;
  padding-bottom: 60px;
}
.btn_text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn_text .text {
  font-size: 16px;
  line-height: 30px;
}
.btn {
  width: 55px;
  height: 55px;
  margin-right: 12px;
  color: white;
  font-size: 18.7429px;
  line-height: 35px;
  border-radius: 50%;
  border: none;
  background: #33a9ff;
}
.btn_arrow {
  display: inline-block;
  width: 12.89px;
  height: 35.14px;
  font-family: 'Circe-Bold';
}
.scroll_catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn_scroll {
  position: absolute;
  left: 260px;
  bottom: 158px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16.5px;
  writing-mode: vertical-lr; /* вертикальное направление текста */
  text-orientation: mixed; /* разрешает расположение текста на 90 градусов */
  white-space: nowrap; /* отменяет переносы строк */
}
.scroll_text_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.scroll_text {
  transform: rotate(180deg);
  font-size: 16px;
  line-height: 19px;
  color: #838383;
  font-weight: 300;
}
.best_products_right {
  position: relative;
  width: 509px;
  background: #f9f9f9;
}
.best_products_right__good_offer {
  position: relative;
  margin-top: 14px;
}
.good_offer__text {
  display: inline-block;
  position: absolute;
  width: 181px;
  left: 40px;
  bottom: 263px;
  font-size: 25px;
  line-height: 130%;
}
.good_offer__arrow {
  position: relative;
  margin-left: 40px;
  width: fit-content;
}

@media (max-width: 375px) {
  .best_products {
    flex-direction: column;
  }
  .best_products__left {
    width: 100%;
    flex-direction: column;
    padding: 0px 15px 10px 15px;
  }
  .best_products__left_text {
    padding-top: 80px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .new_collection {
    padding-bottom: 6px;
    font-size: 15px;
    line-height: 133.69%;
    color: #838383;
    word-spacing: -2px;
  }
  .title {
    padding-bottom: 28px;
    width: 70%;
    font-size: 30px;
    line-height: 35px;
    color: #292d32;
  }
  .best_products__left_dell {
    top: 18px;
    left: 32px;
    width: 293px;
    height: 77px;
  }
  .best_products__left_dell img {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .best_products__left_notebook {
    margin-top: 10px;
    padding-right: 0px;
  }
  .btn {
    margin-right: 15px;
    width: 45px;
    height: 45px;
  }
  .btn_text .text {
    font-size: 15px;
  }
  .best_products_right {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .best_products_right__notebook img {
    display: block;
    position: relative;
    padding-right: 0;
    width: 252px;
    height: 166px;
    float: right;
    left: -4px;
  }

  .good_offer__text {
    position: absolute;
    height: 100%;
    width: 136px;
    top: 59px;
    left: 0;
    font-size: 20px;
    padding: 0 15px;
  }
  .good_offer__arrow {
    position: absolute;
    width: 64px;
    height: 14px;
    top: -50px;
    right: 14px;
  }
  .scroll_catalog {
    display: none;
  }
}
