.footer_navbar {
  display: flex;
  margin-top: 60px;
  border-bottom: 1px solid #e5e5e5;
}
.footer_logo {
  width: 112px;
  height: 112px;
  margin-right: 190px;
  margin-top: 28px;
}
.footer_logo img {
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
}
.footer_navbar_menu {
  display: flex;
  align-items: flex-start;
  gap: 183px;
  padding-bottom: 48px;
}
.menu_li:first-child {
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #292d32;
  margin-bottom: 15px;
}
.menu_li {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #292d32;
}
.footer_info {
  display: flex;
  margin-top: 40px;
  gap: 152px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.info_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 133.69%;
  color: #838383;
}
.info_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #292d32;
}
.info_social_icons {
  margin-top: 7px;
}
.dell_img {
  position: absolute;
  bottom: 100px;
  right: 0px;
  width: 515px;
  height: 173px;
  font-family: 'Rubik-One';
  font-style: normal;
  font-weight: 400;
  font-size: 187px;
  line-height: 92.69%;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.dell_img img {
  float: right;
  width: 100%;
  height: 100%;
}

@media (max-width: 375px) {
  .footer {
    background: #f2f2f2;
  }
  .footer_container {
    display: flex;
    flex-direction: column;
  }
  .footer_navbar {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_logo {
    width: 70px;
    height: 70px;
    margin: 0;
    margin-bottom: 31px;
  }
  .footer_logo img {
    width: 70px;
    height: 70px;
  }
  .footer_navbar_menu {
    gap: 19px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-right: 23px;
  }
  .navbar_catalog {
    display: flex;
    flex-wrap: wrap;
    order: 3;
  }
  .ul_menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* создаем две колонки */
    grid-column-gap: 42px; /* задаем расстояние между колонками */
    grid-auto-flow: dense;
  }
  .navbar_catalog .menu_li:first-child {
    grid-column: span 2;
  }
  .navbar_catalog .menu_li:nth-child(3) {
    grid-column: 1;
  }
  .navbar_catalog .menu_li:nth-child(4) {
    grid-column: 2;
    height: 20px;
    align-self: flex-start;
    margin-top: -13px;
  }
  .navbar_catalog .menu_li:nth-child(2) {
    grid-column: 2;
    height: 20px;
    align-self: flex-start;
  }
  .navbar_catalog .menu_li:nth-child(5) {
    grid-column: 2;
    height: 20px;
    margin: 0;
    margin-top: -27px;
  }
  .navbar_catalog .menu_li:last-child {
    grid-column: 1;
    font-size: 15px;
    line-height: 13px;
    width: 81%;
  }
  .navbar_cabinet {
    order: 2;
  }
  .navbar_help {
    order: 1;
  }
  .menu_li {
    font-size: 15px;
    line-height: 100%;
    margin-bottom: 13px;
  }
  .menu_li:first-child {
    font-size: 18px;
    line-height: 21px;
  }
  .footer_info {
    margin-top: 23px;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .info_social_icons {
    margin-left: 2px;
    margin-top: 9px;
    gap: 29px;
  }
  .footer_info .info_social_icons li {
    width: 30px;
    height: 30px;
  }

  .footer_info .info_social_icons li img {
    width: 100%;
    height: 100%;
  }
  .info {
    gap: 0;
  }
  .info_title,
  .info_text {
    font-size: 15px;
  }
  .dell_img {
    position: absolute;
    bottom: 15px;
    right: 16px;
    width: 215px;
    height: 73.33px;
    font-size: 78px;
    line-height: 92.69%;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* .dell_img img {
    float: right;
    width: 100%;
    height: 100%;
  } */
}
